<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizcenter.freight.infrastructure.persistence.dao.MediaRecordMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bizcenter.freight.infrastructure.persistence.po.MediaRecordPo" id="mediaRecordMap">
        <id property="id" column="id"/>
        <result property="imgUrl" column="img_url" />
        <result property="refId" column="ref_id" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="appId" column="app_id" />
        <result property="modifyTime" column="modify_time" />
        <result property="modifyUserName" column="modify_user_name" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="createTime" column="create_time" />
        <result property="createUserName" column="create_user_name" />
        <result property="createUserId" column="create_user_id" />
        <result property="deleted" column="deleted" />
        <result property="bg" column="bg" />
        <result property="isvId" column="isv_id" />
        <result property="modifyRealName" column="modify_real_name" />
        <result property="createRealName" column="create_real_name" />
        <result property="fileName" column="file_name" />
        <result property="type" column="type" />
        <result property="status" column="status" />
        <result property="extData1" column="ext_data1" />
        <result property="extData2" column="ext_data2" />
    </resultMap>
    <resultMap type="com.bizcenter.freight.infrastructure.persistence.po.MediaRecordPo" id="mediaRecordAliasMap">
        <id property="id" column="id"/>
        <result property="imgUrl" column="lc_media_record_img_url" />
        <result property="refId" column="lc_media_record_ref_id" />
        <result property="remark" column="lc_media_record_remark" />
        <result property="tenantId" column="lc_media_record_tenant_id" />
        <result property="appId" column="lc_media_record_app_id" />
        <result property="modifyTime" column="lc_media_record_modify_time" />
        <result property="modifyUserName" column="lc_media_record_modify_user_name" />
        <result property="modifyUserId" column="lc_media_record_modify_user_id" />
        <result property="createTime" column="lc_media_record_create_time" />
        <result property="createUserName" column="lc_media_record_create_user_name" />
        <result property="createUserId" column="lc_media_record_create_user_id" />
        <result property="deleted" column="lc_media_record_deleted" />
        <result property="bg" column="lc_media_record_bg" />
        <result property="isvId" column="lc_media_record_isv_id" />
        <result property="modifyRealName" column="lc_media_record_modify_real_name" />
        <result property="createRealName" column="lc_media_record_create_real_name" />
        <result property="fileName" column="lc_media_record_file_name" />
        <result property="type" column="lc_media_record_type" />
        <result property="status" column="lc_media_record_status" />
        <result property="extData1" column="lc_media_record_ext_data1" />
        <result property="extData2" column="lc_media_record_ext_data2" />
    </resultMap>
    <sql id="mediaRecordColumns">
         ${alias}.id, ${alias}.img_url, ${alias}.ref_id, ${alias}.remark, ${alias}.tenant_id, ${alias}.modify_time, ${alias}.modify_user_name, ${alias}.modify_user_id, ${alias}.create_time, ${alias}.create_user_name, ${alias}.create_user_id, ${alias}.deleted, ${alias}.bg, ${alias}.isv_id, ${alias}.modify_real_name, ${alias}.create_real_name, ${alias}.file_name, ${alias}.type, ${alias}.status, ${alias}.ext_data1, ${alias}.ext_data2
    </sql>
    <sql id="mediaRecordAliasColumns">
         ${alias}.id lc_media_record_id, ${alias}.img_url lc_media_record_img_url, ${alias}.ref_id lc_media_record_ref_id, ${alias}.remark lc_media_record_remark, ${alias}.tenant_id lc_media_record_tenant_id, ${alias}.modify_time lc_media_record_modify_time, ${alias}.modify_user_name lc_media_record_modify_user_name, ${alias}.modify_user_id lc_media_record_modify_user_id, ${alias}.create_time lc_media_record_create_time, ${alias}.create_user_name lc_media_record_create_user_name, ${alias}.create_user_id lc_media_record_create_user_id, ${alias}.deleted lc_media_record_deleted, ${alias}.bg lc_media_record_bg, ${alias}.isv_id lc_media_record_isv_id, ${alias}.modify_real_name lc_media_record_modify_real_name, ${alias}.create_real_name lc_media_record_create_real_name, ${alias}.file_name lc_media_record_file_name, ${alias}.type lc_media_record_type, ${alias}.status lc_media_record_status, ${alias}.ext_data1 lc_media_record_ext_data1, ${alias}.ext_data2 lc_media_record_ext_data2
    </sql>
</mapper>